Repository CrossGL/visualizer, pull requests merged in 2024-08, with the labels that each got.

#44 Create GH actions for mac and linux
  .github/workflows/linux.yml
  .github/workflows/macosx.yml
Labels: Pipeline

#45 Update actions to be sample specific
  .github/workflows/linux.yml
  .github/workflows/macosx.yml
  .github/workflows/windows.yml
Labels: Pipeline

#40 Working Hello Triangle sample
  Core/Application/Application.cpp
  Core/Application/Application.h
  Core/External/SimpleMath.h
  Core/External/SimpleMath.inl
  Core/Graphics/Buffer.h
  Core/Graphics/RHI/OpenGL/OPENGLConstantBuffer.h
  Core/Graphics/RHI/OpenGL/OPENGLIndexBuffer.h
  Core/Graphics/RHI/OpenGL/OPENGLPixelShader.h
  Core/Graphics/RHI/OpenGL/OPENGLRenderer.cpp
  Core/Graphics/RHI/OpenGL/OPENGLRendererImpl.cpp
  Core/Graphics/RHI/OpenGL/OPENGLRendererImpl.h
  Core/Graphics/RHI/OpenGL/OPENGLVertexBuffer.h
  Core/Graphics/RHI/OpenGL/OPENGLVertexShader.h
  Core/Graphics/Renderer.cpp
  Core/Graphics/Renderer.h
  Core/Graphics/Renderer.inl
  Core/Graphics/Shader/Shader.h
  Core/Graphics/Shader/ShaderCompiler.cpp
  Core/Graphics/Shader/ShaderCompiler.h
  Core/xmake.lua
  Samples/BlankApp/xmake.lua
  Samples/HelloTriangle/Assets/DirectX/HelloTrianglePS.hlsl
  Samples/HelloTriangle/Assets/DirectX/HelloTriangleVS.hlsl
  Samples/HelloTriangle/Assets/OpenGL/HelloTrianglePS.frag
  Samples/HelloTriangle/Assets/OpenGL/HelloTriangleVS.vert
  Samples/HelloTriangle/HelloTriangle.cpp
  Samples/HelloTriangle/xmake.lua
  Samples/SpinningCube/Assets/DirectX/SpinningCubePS.hlsl
  Samples/SpinningCube/Assets/DirectX/SpinningCubeVS.hlsl
  Samples/SpinningCube/Assets/OpenGL/SpinningCubePS.frag
  Samples/SpinningCube/Assets/OpenGL/SpinningCubeVS.vert
  Samples/SpinningCube/SpinningCube.cpp
  Samples/SpinningCube/xmake.lua
  Scripts/Templates/XmakeTemplate
Labels: Enhancement, RHI OpenGL, Xmake

#39 Implemented ShaderCompiler for Metal
  Core/Application/Application.cpp
  Core/Common.cpp
  Core/Common.h
  Core/Graphics/Buffer.h
  Core/Graphics/RHI/METALCommon.h
  Core/Graphics/RHI/Metal/METALConstantBuffer.h
  Core/Graphics/RHI/Metal/METALIndexBuffer.h
  Core/Graphics/RHI/Metal/METALPipelineHandler.cpp
  Core/Graphics/RHI/Metal/METALPipelineHandler.h
  Core/Graphics/RHI/Metal/METALPixelShader.h
  Core/Graphics/RHI/Metal/METALRenderer.cpp
  Core/Graphics/RHI/Metal/METALRendererImpl.cpp
  Core/Graphics/RHI/Metal/METALRendererImpl.h
  Core/Graphics/RHI/Metal/METALVertexBuffer.h
  Core/Graphics/RHI/Metal/METALVertexShader.h
  Core/Graphics/Renderer.cpp
  Core/Graphics/Renderer.h
  Core/Graphics/Shader/Shader.h
  Core/Graphics/Shader/ShaderCompiler.cpp
  Core/Graphics/Shader/ShaderCompiler.h
  Core/Graphics/Types.h
  Samples/HelloTriangle/Assets/DirectX/HelloTriangleVS.hlsl
  Samples/HelloTriangle/Assets/Metal/HelloTrianglePS.metal
  Samples/HelloTriangle/Assets/Metal/HelloTriangleVS.metal
  Samples/HelloTriangle/Assets/OpenGL/HelloTriangleVS.vert
  Samples/HelloTriangle/HelloTriangle.cpp
Labels: Enhancement, RHI Metal

#48 Change group name to CrossVL + win32 build fixes
  Core/Graphics/Renderer.cpp
  Core/Graphics/Renderer.h
  Core/xmake.lua
  Samples/HelloTriangle/Assets/DirectX/HelloTriangleVS.hlsl
  Samples/SpinningCube/Assets/DirectX/SpinningCubeVS.hlsl
  Samples/SpinningCube/SpinningCube.cpp
  xmake.lua
Labels: Xmake

#52 Working Spinning Cube Sample
  Core/Application/Application.cpp
  Core/Application/Application.h
  Core/Common.h
  Core/Graphics/Buffer.h
  Core/Graphics/RHI/OpenGL/OPENGLIndexBuffer.h
  Core/Graphics/RHI/OpenGL/OPENGLRenderer.cpp
  Core/Graphics/RHI/OpenGL/OPENGLVertexAttributes.cpp
  Core/Graphics/RHI/OpenGL/OPENGLVertexAttributes.h
  Core/Graphics/RHI/OpenGL/OPENGLVertexBuffer.h
  Core/Graphics/Renderer.h
  Core/Graphics/Renderer.inl
  Samples/BlankApp/BlankApp.cpp
  Samples/BlankApp/BlankApp.h
  Samples/HelloTriangle/Assets/OpenGL/HelloTriangleVS.vert
  Samples/HelloTriangle/HelloTriangle.cpp
  Samples/HelloTriangle/HelloTriangle.h
  Samples/SpinningCube/Assets/OpenGL/SpinningCubeVS.vert
  Samples/SpinningCube/SpinningCube.cpp
  Samples/SpinningCube/SpinningCube.h
Labels: Enhancement, RHI OpenGL

#54 Fixed workflow file for Linux
  .github/workflows/linux.yml
  Samples/ModelLoading/xmake.lua
Labels: Bug, Linux, RHI OpenGL, Pipeline

#55 Implemented Index and Constant Buffers
  .github/workflows/macosx.yml
  .github/workflows/windows.yml
  Core/Graphics/Buffer.h
  Core/Graphics/RHI/Metal/METALIndexBuffer.h
  Core/Graphics/RHI/Metal/METALPipelineHandler.cpp
  Core/Graphics/RHI/Metal/METALPipelineHandler.h
  Core/Graphics/RHI/Metal/METALRenderer.cpp
  Core/Graphics/Renderer.h
  Core/Graphics/Renderer.inl
  Samples/SpinningCube/Assets/Metal/SpinningCubePS.metal
  Samples/SpinningCube/Assets/Metal/SpinningCubeVS.metal
  Samples/SpinningCube/SpinningCube.cpp
Labels: Enhancement, MacOSX, RHI Metal
